.paginacao{
    width: 40px;
    color: gray;
    padding: 6px;
    align-items: center;
    font-weight: bold;
}

.paginacao:hover {
   color: black;
}

.paginacao1 {
   display: flex;
   justify-content:center;
}