*{
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Comfortaa', cursive;
    max-width: 100%;
    
}

body{
    background-color: white;
}

.backgroundH{
    outline: 1px solid rgba(0,0,0,.125);
}
.user-login{
    width: 49px;
    height: 44px;
    position: relative;
    left: 12px;
    margin-top: 15px;
}

.custom-button{
    background-color: #9ACCFF;
    width: 210px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    /* border-radius: 30%; */
    height: 40px;
    text-align: center;
    /* padding-bottom: 40px; */
}



.text-title{
    font-size: 24px;
    font-weight: bold;
}

.row-login{
    margin-left: 0px;
    margin-right: 0px;
}


.custom-input input{
    font-size: 12px;
    height: 40px;
}

.text-esqueci-senha{
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 0;
    font-weight: bold;
}

.text-esqueci-senha a{
    color: black;
}

.card-input-login{
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
    align-items: center;
}


@media (max-width: 992px){ 
    .card-input-login{
        border: none;
        outline: none;
    }

   
   
    .card-form{
        margin-right: 4%;
        padding-right: 23px;
    }
}

@media (max-width: 767px){ 
    
   
    .card-form{
        margin-right: 8%;
        padding-right: 23px;
    }
  

    .custom-button{
        width: 159px;
    }

    hr{
        width: 260px;
        margin-left: 13px;
    }

    .text-title{
        font-size: 19px;
    }
}