.user-cadastro{
    width: 60%;
    margin-top: 20%;
    margin-left: 26%;
}

.border-card{
    box-shadow: 0px 0px 1em 0px rgba(50, 50, 50, 0.384);
}

.row.rowCentralized{
    --bs-gutter-x: 0; 
     --bs-gutter-y: 0;
}

.text-title{
    font-size: 24px;
    font-weight: bold;
}


.row.custom-input{
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    justify-content: space-between;
}

.custom-input input{
    font-size: 12px;
}

.custom-input label{    /* ADICIONEI */
    font-weight: bold;
    color: #626262;
}

.custom-input input::placeholder{   /* ADICIONEI */
    color: black;
}



@media (max-width: 767px){ 

    .col-2.col-mobile{
        padding: 0px;
    }

    .custom-input{
        display: block !important;
  
    }

    .input-login{
        margin: 0px;
    }

    .input-media{   /* CRIEI ESSA CLASSE NO HTML */
        margin-top: 15px;
    }

    .user-cadastro{
        left: 154px;
        width: 80%;
    }
    
    hr{
        width: 285px;
        margin-left: 28px;
    }
}