.text-title{
    font-size: 24px;

}

.card-input{

    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;

    border-radius: 0.25rem;
    align-items: center;
}


@media (max-width: 768px){ 
    .card .card-input{
        border: none;
        outline:none;
    }
}