.custom-button-update{
    background-color: #9ACCFF;
    width: 210px;
}

.text-title{
    font-size: 24px;

}

.card-input{

    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;

    border-radius: 0.25rem;
    align-items: center;
}

.custom-input {
    margin-left: 0px;
}

.custom-input input::placeholder{   /* ADICIONEI */
    color: black;
}
.custom-button-cancelar{
    background-color: white;
    border: none;
    width: 210px;
    height: 40px;
    margin-top: 5px;
}
.custom-button-cancelar p{
    margin-bottom: 0px;
    margin-top: 5px;
}
.line-cancelar{
    margin-top: 0; 
    margin-bottom: 10px;
}
.text-atualizar-senha a{
    color: black;
    text-decoration: none;
}


@media (max-width: 767px){ 




    .line-title-atualizar{
        width: 310px;
        margin-left: 12px;
    }
}
@media (max-width: 768px){ 
.card .card-input{
    border: none;
    outline:none;
}
}