
.custom-button{
    background-color: #9ACCFF;
    width: 210px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    /* border-radius: 30%; */
    height: 40px;
    text-align: center;
    /* padding-bottom: 40px; */
    margin-left: 10px;
}




.text-title{
    font-size: 24px;
    font-weight: bold;
}

.line-title-atualizar{
    width: 398px;
}


.text-sucesso-atualizacao-senha{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    margin-left: 10px;
}

.img-checked-senha{
    width: 80px;
    height: 80px;
}


hr:not([size]) {
    width: 100%;
}
/* .container-maior{
    width: 50rem;
} */



@media(max-width: 425px){
    hr:not([size]) {
        width: 86%;
    }

    .text-title {
        font-size: 18px;
        font-weight: bold;
    }

    .custom-button {
        display: flex;
        background-color: #9ACCFF;
  
        color: white;
        font-size: 20px;
        font-weight: bold;
     
        text-align: center;
        justify-content: center;

        align-items: center;
    }
}