body{
    background-color: #ffcedf8f;;
    
    }
    
    
    .resumo{
        font-weight: bold;
        padding-top: 20px;
    }
    
    
    .menu-produto{
        background-color: white;
        margin-top: -17px;
        margin-bottom: -1px;
        padding-top: 35px;
        
    }
    
    .sub{
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-between;
        background-color: rgba(194, 194, 194, 0.493);
        color: black;
        font-weight: bold;
    }
    
    .sub-produto{
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-between;
        color: black;
        padding-right: 27px;
        padding-left: 3px;
        
        
    
    }
    
    
    .frete{
        display: flex;
        flex-direction: row;
        list-style: none;
    
    }
    
    .sub-menu{
        background-color: rgba(194, 194, 194, 0.493);
    }
    
    .sub-menu-frete{
        background-color: rgba(194, 194, 194, 0.493);
        
        justify-content: space-between;
        font-size: 19px;
        padding-top: 21px;
        margin-top: -16px;
    }
    
    .descricao-produto, .sub-preco, .qtd, .sub-total, .lixeira{
        margin-top: 30px;
    }
    .qtd{
        height: 20px;
    }
    
    .cal-frete{
        margin-top: 10px;
        font-weight: bold;
    }
    
    .cep{
        text-decoration: underline;
        margin-left: 10px;
        margin-top: 10px;
        color: black;
    }
    
    .btn-cal{
        margin-left: 4px;
        margin-top: 2px;
        width: 18%;
    }
    
    .total{ display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: flex-end;
        color: black;
        font-size: 23px;
    }
    
    .vl-total, .avista, .vl-parcelado{
        margin: 10px;
    }
    
    .vl-total{
        font-weight: bold;
    }
    
    
    .btn-finalizar{
        background-color: #9CF38E;
        width: 290px;
    
    }
    
    .btn-continuar{
    background-color: #74b9ff ;
    }
    
    .btn-finalizar, .btn-continuar{
        border-radius: 20px;
        margin: 10px;
        border: none;
    }
    
    .botao-comprar{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10vh;
    }

    /* .campo-cep{
        /* height: 16vh;
        width: 84vh; */

    
    .produtos-relacionados{

        font-weight: bold;
        font-size: 20px;
        margin-left: 12px;
        margin-top: 20px;
    }
    
    .btn-finalizar:hover{
        background-color: #6cf357;;
    }
    
    .botao-continuar:hover{
        background-color:  #47a0f8 ;
    }

    .adicionar-cart{
        width: 19px;
        border-radius: 6px;
        background-color: white;
        border-style: solid;
        height: 35px;

    }

    .subtrair-cart{
        width: 19px;
        border-radius: 6px;
        background-color: white;
        border-style: solid;
        height: 35px;
    }

    .campo-qtd-cart{
        border-radius: 13px;
        width: 42px;
        padding-left: 14px;

    
          
            
    

          
    
    
  
        margin-left: 5px;
        margin-right: 5px;
        border-style: solid;
        height: 27px;
    }
    
    /* RESPONSIVO */
@media (max-width: 800px)
{
    .botao-comprar{
        display: flex;
       justify-content: center;
    }
}
@media(max-width: 791px)
{
    .botao-comprar{
         flex-direction: row;
       justify-content: center;
    }
}
@media(max-width: 766px)
{
    .botao-comprar{
        display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
}
@media(max-width: 700px)
{
    .botao-comprar{
        display: flex;
       flex-direction: column;
       justify-content: center;
    }
.btn-finalizar, .btn-continuar {
    border-radius: 20px;
    margin: 10px;
    border: none;
    width: 287px;
}
    .sub-produto{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        list-style: none;
        justify-content: space-between;
        color: black;
        padding-right: 25px;
        padding-left: 12px;
        align-content: center;
        
    
    }
}
@media(max-width: 1230px)
{
    .cards{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
}
@media(max-width: 850px)
{
   .frete{
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10px;
   }
}
@media(max-width: 850px)
{
   .total{
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
   }
}
@media(max-width: 750px)
{
   .sub{
    display: none;
    
    
   }
}
@media(max-width: 415px)
{
    .cep {
        text-decoration: underline;
        margin-top: 10px;
        margin-left: 2px;
    }
}



/* novo */


.product-cart{
    margin-top: 4rem;
   


}

.product-banner-sm{
    font-size: 1.2rem;
    color: #333;
    background: grey;
    padding:1rem;
}
.page-banner-sm{
    margin-left: 10px;
    color:#E6889A;
}
.cart-collection{
    margin-top: 0rem;
}

.cart-item form{
    display: grid;
    grid-template-columns: 100%;
    border: 1px solid #efefef;
    border-radius: 7px 7px 0px 0px;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2), 
                inset -2px -2px 2px #efefef;
    color:grey;
}

.cart-product{
    display:flex;
    grid-template-columns: 80pc auto;
    grid-gap: 0rem 1.3rem;
    padding: 1rem 1rem;
    border-bottom: 1px solid #efefef;
} 

.cart-image{
    height: 111px;
    padding-left: 20px;
    border-radius: 75px;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.cart-quantity-md,
.cart-unit-price, 
.cart-product-total
{
    display: none;
}

.cart-controls-sm{
    display: flex;
    justify-content: space-between;
    padding: .5rem .8rem;
}
    
.cart-quantity-controls-sm button, .cart-quantity-controls-sm input, .cart-quantity-controls button, .cart-quantity-controls input {
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    color: gray;
    margin-left: 0.3rem;
}


.remove{
    font-weight: bold;
    text-transform: uppercase;
    color: #505050;
}

.cart-quantity-controls-sm
.cart-quantity-controls
{
    display: flex;
}

.cart-quantity-controls-sm button, 
.cart-quantity-controls-sm input, 
.cart-quantity-controls button, 
.cart-quantity-controls input{
       height: 30px;
    width: 30px;
    border: none;
    outline: none;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    color: gray;
    margin-left: .3rem;

}

.cart-quantity-controls-sm button
.cart-quantity-controls button{ 
    background: green;
    color: #fff;
    border-radius: 50%;
}

.cart-product-name{
    font-weight: bold;
    color: #505050;
    margin-bottom: .3rem;
}

.cart-price-sm{
    color: grey;
    font-weight: bold;
    margin-bottom: .3rem;
}

.cart-product-info small{
    font-weight: bold;
    color: #333;
}

.cart-total-holder {
    /* margin-top: 2rem;
    margin-left: 6rem;
    font-size: 20px;
    font-weight: bold;
    color: gray; */

    margin-top: 2rem;
    display: flex;
    margin-left: 2rem;
    font-size: 20px;
    font-weight: bold;
    color: gray;

}

.cart-total{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.cart-total p{
    font-weight: bold;
}

.cart-action-button{
    display: flex;
    flex-direction: column;
}

.cart-action-button a{
    display: block;
    text-align: center; 
    margin-bottom: .5rem;
    background-color: #6cf357;
    border-radius: 50px; 
    height: 55px;
    padding-left: 6rem;
    padding-right: 6rem;
    border-radius: 50px;
    margin-right: 20px;
}

.cart-action-button a:first-child{
    order: 1;
    background: #47a0f8;
    color: #fff;
    border-radius: 50px;
    height: 55px;
    padding-left: 2rem;
    padding-right: 2rem;

}


.cart-header{
    display: none;
}

.btn-menos{
    border-radius: 50%;
    background-color: #6cf357;
    width: 30px;
    height: 30px;
    color: gray;
}


.btn-mais{
    border-radius: 50%;
    background-color: #6cf357;
    width: 30px;
    height: 30px;
    color: gray;
}

.inputNumber-Qtd,.btn-CustomCart{
    margin: 4px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 20px;
    border: none;


}

 
.number-qtd{
    color: gray;
    padding-left: 4px;
}

.remove-1 {
    margin-top: 56px;
    margin-right: 48px;
}




@media(min-width: 768px) {
    .wrapper.full-screen{
        padding: 0rem;
    }
    .delete-1{
        display: none;
    }

    .number-qtd{
        color: gray;
        padding-left: 4px;
    }

    .product-images.wrapper{
        padding:1rem;
        padding-top: 0rem;
    }

    .product-images{
        display: grid;
        grid-template-columns: 20% 80%;
    }

    .cart-quantity-md,
    .cart-unit-price, 
    .cart-product-total
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
    }

    .cart-item form:first-child{
        border-top: 1px solid #efefef;
    }

    .cart-item form{
        box-shadow: none;
        border: none;
        display: flex;
        /* width: 20%; */
        border-bottom: 1px solid #efefef;
    }

    .cart-controls-sm {
        display: none;
    }

    .cart-product{
        border: none;
        flex: 1;
        align-items: center;
        
    }

    .cart-product small{
        display: none;

    }

    .product-cart{
        margin-top: 0rem;
        padding-bottom: 2rem;
    }

    .cart-collection{
        margin-top: 1rem;
    }

    .cart-header{
        display: flex;
        padding: 1rem 0rem;
        font-size: 20px;
    }

    .cart-header p{
        font-weight: bold;
        color: grey;
        width: 15%;
        text-align: center;
        

    }
    .cart-quantity-controls-sm, .cart-unit-price, .cart-product-total {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
    }

    .btn-menos{
        border-radius: 50%;
        background-color: #6cf357;
    }
    
    .btn-mais{
        border-radius: 50%;
        background-color: #6cf357;
    }
    .item{
        margin-left: 155px;
    }

    .cart-header p:first-child{
        width: auto;
        flex: 1;
        text-align: left;
    }

    .btn-menos{
        border-radius: 50%;
        background-color: #6cf357;
    }

    .btn-mais{
        border-radius: 50%;
        background-color: #6cf357;
    }

    .cart-total, 
    .cart-action-button{
        justify-content: flex-end;
        flex-direction: row;

    }

    .cart-total p:first-child{
        margin-right: 1rem;
    }

    .cart-action-button a{
        padding-left: 3rem;
        padding-right: 3rem;
        border-radius: 50px;
        margin-right: 20px;
    }

    .cart-action-button a:first-child{
        margin-right: 1.2rem;
        order: 0;
    }

    .cart-collection{
        padding-bottom: 2rem;
    }
}