.inputFiltro {
    margin-top: 22%;
    margin-bottom: 10%;
}

@media (max-width: 767px){
    .row-filter{
        margin-right: 7%;
    }
}

@media (max-width: 775px){
    .row-filter{
        margin-right: 10%;
    }
}

@media (min-width: 775px){
    .row-filter{
        margin-right: 0%;
    }
}