


.p-sucesso-title{
    text-align: center;
    margin-top: 5px;
    font-size: 21px;
    font-weight: bold;
}
.custom-button1{
    background-color: #9ACCFF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 11%;
}
.custom-button1:hover{
    color: rgb(255, 255, 255);
    background-color: #80bffd;
}
.p-segunto-texto{
    text-align: center;
    font-size:15px;
    
}




.text-title{
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
}





.custom-label{
    margin-left: 25px;
}











.img-checked{
    width: 100%;
    margin-top: 10px;
}



@media (max-width: 1200px){
    .sucessoComprasucessoCompraTable{
        font-size: 13px;
    }
    
    .p-segunto-texto {
      
        font-size: 13px;
    }
 
  

    }
@media (max-width:767px){
.cardSuccessPerchase {
    font-size: 9px;
    padding: 4px;
   
}

}



.sucessoComprasucessoCompraTable{
    width: 249px;
    font-size: 11px;
}

@media (max-width:400px){

.sucessoCompraTable{
    font-size: 13px;
}
}
