@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Roboto+Mono:wght@200;300&display=swap');

.Principal{
  margin-left:35px;
  color:black;

}

.global{
    background-color:#fdcfd8;
}
br {
    background-color: white;
}

p {
    
     /* text-align: start; */
     font-family: 'Comfortaa', cursive;
     color:black;
    }

b { 
    font-weight:bold;
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    padding: 11px;
}

h3 h4 {
    padding-top: 24px;
}



