@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Roboto+Mono:wght@200;300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    max-width: 100%;
}

.navbar-toggler-icon{
    background-image: url(./imgs//menu-maior.png);
    margin-bottom: -3px;
}
.container-fluid.noPadding{
    padding:0 ;
}



.containerHeader{
    z-index: 1;
}
.custom-nav{
    background-color: #E6889A;
    height: 90px;
}

.logo{
    position: relative;
    padding-bottom: 10px;
    margin-left: 20px;
}

/* .custom-form{
    margin-left: 115px;
} */

.custom-form input{
    width: 585px;
    height: 37px;
}

.custom-form ::after{
    background-image: url(./imgs/search.png);
    background-size: 23px;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    width: 32px;
    height: 40px;
}

.icone{
    position: relative;
    padding-top: 15px;
    width: 32px;
    left: 50px;
    margin-top: 8px;
}

.cart p{
    color: white;
    text-align: center;
    font-size: 18px;
    margin-left: 25%;
    margin-top: 3%;
}

.login-cadatro p a{
    text-align: center;
    margin-right: 10px;
    padding-bottom: 5px;
    color: white;
    text-decoration: none;
}

.login-cadatro p {
    text-align: center;
    margin-right: 10px;
    padding-bottom: 5px;
    color: white;
    text-decoration: none;
}

.login-cadatro p a:hover{
    color: gray;
}

.link-login-cadastro{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.custom-btn{
    margin-left: 100px;
    background-color: #9ACCFF;
    width: 149px;
    height: 37px;
}
p span{
    position: relative;
}
span.cartIcon::before{
    background-image: url(./imgs/cart.png);
    background-size: 25px;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    width: 32px;
    height: 40px;
    right: 3%;
}


.login-cadatro{
    margin-right: 30px;
}



.navbar-collapse{
    flex-grow: 0;
    background-color: #E6889A;
}




/* @media (min-width: 1288px){
    .login-cadatro {
        width: 1169px;
        font-size: 17px;
    }
    .teste2{
        margin-left: 577px;
    }
    .logo {
        width: 164px;
        padding-top: 26px;
    }
    .custom-form input {
        width: 585px;
        height: 37px;
    }
} */
@media (max-width: 992px){ 
    *{
        max-width: 100%;
    }
    
    .custom-form input{
        width: 420px;
        margin-left: 20px;
    }
 
    .navbar-collapse{
        display: flex;
        height: 80px;
    }
 
    .custom-btn{
        position: relative;
        right: 55px;
    }

    .teste2{
        display: flex;
        align-items: center;
    }
 
    /* .teste{
        display: flex;
    } */
 
    .icone{
        width: 23px;
        height: 40px;
        left: 44px;
    }
 
    .login-cadatro{
        font-size: 9px;
    }
 
    .custom-nav{
        height: 108px;
    }
 
    .cartIcon::before{
        right:10%;
    }
 
    .logo{
        padding: 0;
        width: 169px;
        
    }

    .navbar-toggler{
        margin-right: 3%;
    }
     
 }


@media (max-width: 767px){ 
    .custom-form input{
        width: 85%;
        margin-left: 20px;
        margin-top: 8px;
    }
 
    .navbar-collapse{
        display: flex;
        height: 116px;
        display: block;
    }
 
    .custom-btn{
        position: relative;
        right: 55px;
        margin-left: 78px;
    }
    

    .teste2{
        display: flex;
    }
 
    
 
    .icone{
        display: none;
    }
 
    .login-cadatro p{
        font-size: 15px;
        padding-top: 15px;
        margin-bottom: 5px;
    }
 
    .custom-nav{
        height: 108px;
    }
 
 
 
    .logo{
    padding: 0;
    width: 135px;
    }
     
 }


@media (min-width: 993px){
    .navbar-collapse{
        height: 90px;
    }

    .custom-form input{
        margin-left: 108px;
    }

    .navbar .container-fluid{
        justify-content: flex-start;
    }

    

    .login-cadatro{
        margin-left: 106px;
        font-size: 15px;
    }

    .logo{
           width:103px;
        padding-top: 16px;
    }

    .teste2{
        display: flex;
        align-items: center;
    }
}

