.container-mais-detalhes{
    border: 1px solid #E7E6E6;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.bebe-mais-detalhes{
    width: 165;
    height: 126;
}

.div-infosBebe{
    justify-content: space-between;
    margin-top: 8%;
}

.row-modal-moreDetails{
    display: flex;
}

.container-mais-detalhes-endereco{
    border: 1px solid #E7E6E6;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    /* width: 500px; */
    height: 235px;
    margin-right: 57px; 
}

.container-mais-detalhes-pagamento{
    border: 1px solid #E7E6E6;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    /* width: 500px; */
}

.p-cidade{
    margin-left: 160px;
}

.container-conteudo-pagamento{
    border: 1px solid #E7E6E6;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    /* width: 460px; */
}

.title-container{
    font-weight: bold;
}

.p-container{
    font-weight: bold;
    text-align: center;
}

.container-status-pagamento{
    border: 1px solid #E7E6E6;
    border-radius: 10px;
    padding: 20px;
    /* margin-bottom: 20px; */
    /* width: 500px; */
    /* margin-right: 54%; */
    margin-top: 14%;
    margin-top: 8%;
}

.container-status-pagamento p{
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
}



@media (max-width:992px){
    
    .container-status-pagamento{
        margin-top: 0px;
    }

    /* .infosBebe-mais-detalhes{
        margin-left: 53px;
    } */
}

@media (max-width:768px){
    .container-status-pagamento{
        padding: 8px;
        margin-top: 10%;
    }

    .container-status-pagamento p{
        font-size: 21px;
    }

    .title-container{
        font-size: 18px;
    }

    .p-container{
        font-size: 18px;
    }

    .bairro-cidade{
        display: block !important;
    }

    .p-cidade{
        margin-left: 0px;
    }

    .container-mais-detalhes-endereco{
        margin-right: auto;
    }
}

@media (max-width: 767px){
    .div-infosBebe{
        display: block !important;
        /* margin-left: 21%; */
    }

    .infosBebe-mais-detalhes{
        margin-top: 20%;
    }

    .container-status-pagamento p{
        font-size: 18px;
    }

    .title-container{
        font-size: 14px;
    }

    .bairro-cidade{
        display: block !important;
    }

    .p-cidade{
        margin-left: 0px;
    }

    .title-pedido{
        font-size: 16px;
    }
}
