
 @media(max-width: 2000px){
.productDescriptionCheckout{
    display:flex;
    align-items: center;

}
 }

 @media(max-width: 500px){
    .productDescriptionCheckout{
        display:flex;
        align-items: flex-end;
    
    }
     }
    
    