@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
.footer{
    background-color: #E6889A;
    display: flex;
    justify-content: space-around;
    align-self: flex-end;
    margin-top: 2%;
    
}


.footerDesktop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}   

.accordionFooter{
    display: none;
}
.accordion-item.footerAccordion{
     background-color:transparent;
    border: none;
}
.nav{
    display: flex;
    flex-wrap: wrap;
    padding-left: 6px;
    margin-bottom: 4px;
    list-style: none;
}

a, .redes, .nav-link, .pagamento, .nav{
    color: white;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    text-decoration: none;
}

footer
a, .nav-link .nav{
    line-height: 4;
}


.teste li a {
    color: white;
    
}

.teste li a:hover{
    color:grey;
}

/* ul{
    line-height: 3.5;
} */



.redes{ 
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}


.redes li{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
}

.nav-item-img{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-top: -7px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 6px;
    margin-bottom: 10px;
    list-style: none;
   
}

.pagamento{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
   
}

.redes p{
    display: flex;
    justify-content: flex-start;
}

.devs{
    background-color: #E6889A ;
    font-family: 'Comfortaa', cursive;
    color: rgba(255, 255, 255, 0.637);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.copyright{
    background-color: #E6889A ;
    height: 160px;
    padding-top: 10px;
    text-align: center;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.637);

}

.coluna-1, .coluna-2, .coluna-3, .redes p {
    margin-top: 50px;
}



@media (max-width: 768px){
    .redes{
        display: none;
    }

    .devs{
        margin-top: 3%;
    }
}

@media (max-width: 425px){ 
    .footer{
        display: flex;
        flex-direction: column;
    }
     footer ul{
    padding-left: 2rem;
    }
    .coluna-1, .coluna-2, .coluna-3, .redes p {
        margin-top: 0px;
    }

    
    .accordion-button:not(.collapsed)::after {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path fill-rule='ffffff'%20d='M1.646%204.646a.5.5%200%200%201%20.708%200L8%2010.293l5.646-5.647a.5.5%200%200%201%20.708.708l-6%206a.5.5%200%200%201-.708%200l-6-6a.5.5%200%200%201%200-.708z'/></svg>");
        transform: rotate(-180deg);
        background-color: #E6889A;
    }

    .accordion-button:focus {
        z-index: 3;
        border-color: #ffffff;
        outline: 0;
        box-shadow: none;
    }

    .accordionFooter{
        display: block;
    }

    .footerDesktop{
        display: none;
    }

    .accordion-body {
        padding: 0px;
        background-color: #E6889A;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .accordion-button:not(.collapsed) {
        color: #ffffff;
        background-color: #e6889a;
        box-shadow: inset 0 -1px 0 rgb(0 0 0 / 0%);
    }
    
    .accordion-button::after {
        flex-shrink: 0;
        width: 1.25rem;
        height: 1.25rem;
        margin-left: auto;
        content: "";
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path fill-rule='ffffff'%20d='M1.646%204.646a.5.5%200%200%201%20.708%200L8%2010.293l5.646-5.647a.5.5%200%200%201%20.708.708l-6%206a.5.5%200%200%201-.708%200l-6-6a.5.5%200%200%201%200-.708z'/></svg>");
        background-repeat: no-repeat;
        background-size: 1.25rem;
        transition: transform .2s ease-in-out;
    }
    .accordion-button {
        
        color: #f7fbff;
        background-color: #e6889a;
        font-weight: bold;
    }

    .redesMobile{
        margin: 15px 0px;
        color: white;
        font-weight: bold;
    }
}