.supportButton{
    background-color: #9ACCFF;
    width: 190px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-top: 25px;
    /* border-radius: 30%; 
    height: 40px;*/
    text-align: center;
    margin-bottom: 15%;
}

.supportButton:hover{
    color: gray;
}