.btn-close.fechar3 {    
    margin-top: -1%;
    background-color:white;
}
.btn-close.fechar {    
    margin-top: 2%;
    background-color: white;
    margin-left: 121px;
}
.btn-close.fechar:active {
     background-color:white;
}
.btn-close.fechar2:active {
    background-color:white;
}
.btn-close.fechar2{
    margin-left: 422px;
    background-color:white;
}
.btn-close.fechar2:hover{
    background-color:white;
}
.btn-close.fechar:hover{

    background-color:white;
}




/* <!-- RESUMO --> */

.resumo{
    background-color: #ffffff;
    margin: 20px 15px 0px 15px;
    padding: 8px 0px 0px 20px;
    height: 40px;
    width: 98%;
 
}

.resumo2{
    background-color: #ffffff;
    margin: 5px 15px 0px 15px;
    padding: 4px 0px 0px 20px;
    height: 100%;
    width: 98%;
}

.resumo3{
    background-color: #ffffff;
    margin: 5px 15px 0px 15px;
    padding-left: 20px;
    width: 98%;
    
}

.resumo3 li{
    margin-top: 10px;
}

/* <!-- FINAL RESUMO --> */

/* <!-- ENTREGA --> */

.cep.row.rowCentralized{
    justify-content:space-between;
    margin-bottom: 4%;
}
.caixaIntEnd .row.rowCentralized{
    justify-content:space-between;
}
.searchCep{
    margin-top:1px;
}
.entrega{
    text-align: center;
    font-size: 22px;
}

.formEntrega{
    background-color: white;
  
    padding: 20px;
    height: 100%;;
    margin: 20px 0px 10px 0px ;
}

.cep{
    display: flex;
    align-items: flex-end;
}

.cep img{
    margin-bottom: 2%;
    margin-right: 1%;
}

.cep button{
    margin-top: 15px;
    background-color: white;
    border: none;
}
.lupaImgFrete{
width:50%;
}
.correios {
    color: black;
    font-size: 14px;
   

}

.caixaIntEnd{
    border: 1px solid #00000036;
    border-radius: 8px;
    padding: 15px;
}

.formEntrega form{
    border: 1px solid #00000036;
    border-radius: 8px;
    padding: 9px;   
}

.check input{
    font-size: 14px;
}

/* <!-- FINAL ENTREGA --> */



/* <!-- PAGAMENTO --> */

.pagamento1{
    text-align: center;
    font-size: 22px;
}

.formPagamento{
    background-color: white;
    padding: 20px;
    margin: 20px 0px 10px 10px ;
}

.cartao, .pix, .boleto{
    background-color: #f7d8945d;
    width: 90%;
    height: 35px;
    border-radius: 0px 5px 5px 0px;
}

.cartao img{
    margin: 0px 10px;
    width:13%;
}

.pix img{
    padding: 0px 10px;
}

.boleto img{
    padding: 0px 10px;
}

.mensagemCcv{
    display: block;
}

/* <!-- FINAL PAGAMENTO --> */


/* <!-- MODAL CARTÃO DE CREDITO --> */

.modalCartao  button{
    background-color: #f7d8949c;
    width: 7%;
    border: none;
    padding: 5px;
}

.modalCartao button:hover{
    background-color: #F7D794;
}


.pag{
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 100%;

}

.pag hr {
    margin: 0px ;
}

.imagens img{
    margin: 10px;
}
.imagemPix{
    height: 29px;
    width: 66%;
}

.cartFake{
  
    margin: 30px 0px 30px 90px;
    height: 180px;
    border-radius: 20px;
    color: black;
    font-size: 16px;
    
}

.cartFake img {
    padding-top: 10px;
    width: 80%;
    height: 90%;
}

.num{
    padding-top: 10px;
    margin-left: 75px;
    
}

.nome{
    padding-top: 30px;
    margin-left: 30px;
}

.dataCard{
    padding-top: 30px;
    margin-left: 20px;
}


.form{
    margin: 20px 10px 20px 10px;
    font-size: 16px;
}

.form input{
    height: 30px;
    font-size: 14px;
}

.form select{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.form option{
    font-size: 16px;
    font-family: 'Dancing Script', cursive;
}

.form button{
    background-color: #9CF38E;
    width: 60%;
    margin: 30px 0px 20px 90px;
    height: 50px;
    color: white;
    border-radius: 30px;
    font-size: 20px;

}

.form button:hover{
    background-color: #79b870;
}

.form a {
    margin: 30px 10px 0px 0px ;
    font-size: 22px;
    color: black;
}
/* <!-- FINAL MODAL CARTÃO DE CREDITO --> */


/* <!-- MODAL PIX--> */


.modalPix  button{
    background-color: #f7d8949c;
    width: 7%;
    border: none;
    padding: 5px;
}

.modalPix button:hover{
    background-color: #F7D794;
}

.modalPix hr{
    margin: 0px;
}

div.pix img{
    margin-top: 2%;
    width: 31%;
    
}
div.boleto img{
    margin-left: -1%;
    width: 37%;
}

.textPix{
    padding: 20px 5px 0px 25px;
    font-size: 14px;
}

.pi{
    padding-bottom: 10px;
    font-size: 20px;
}

.valor {
    font-size: 16px;
    margin: 20px 0px;
}

.addPagamento{
    margin-left: 30px;
}

.btnFinalizar button{
    background-color: #9CF38E;
    width: 60%;
    margin: 30px 0px 20px 80px;
    height: 50px;
    color: white;
    border-radius: 30px;
    font-size: 16px;
}

.addPagamento button {
    background-color: #9CF38E !important;
    width: 60% !important;
    margin: 30px 0px 20px 80px !important;
    height: 50px !important;
    color: white !important;
    border-radius: 30px !important;
    font-size: 20px !important; 
    border-color: transparent;
}


.btnFinalizar button:hover, .addPagamento button:hover{
    background-color: #79b870;
}

/* <!-- FINAL MODAL PIX--> */


/* <!-- MODAL BOLETO--> */

.modalBoleto button{
    background-color: #f7d8949c;
    width: 7%;
    border: none;
    padding: 5px;
}


.modalBoleto button:hover{
    background-color: white;
}

.modalBoleto hr{
    margin: 0px;
}

.modalBoleto img{
    margin: 6px;
    
}

.textBoleto{
    
    
    padding: 20px 5px 0px 25px;
    font-size: 14px;
}

.pi{
    padding-bottom: 10px;
    font-size: 20px;
}

.valor {
    font-size: 16px;
    margin: 20px 0px;
}

.btnFinalizar button{
    background-color: #9CF38E;
    width: 60%;
    margin: 30px 0px 20px 80px;
    height: 50px;
    color: white;
    border-radius: 30px;
    font-size: 16px;
}

.btnFinalizar button:hover{
    background-color: #79b870;
}

/* <!-- FINAL MODAL BOLETO--> */


/* <!-- CHECKOUT-> */
.checkout {
    background-color: white;
    margin: 20px 0px 5px 10px ;
}

.resumo1{
    padding-top: 20px;
    text-align: center;
    font-size: 22px;
}

.chek{
    height: max-content;
    padding-bottom: 3%;
    
}

.chek h5{
    padding-top: 15px;
    text-align: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.747);
}


.checkoutResumo{
    display: flex;
    font-size: 14px;
    line-height: 2;
}

.checkoutEntrega{
    font-size: 15px;
}

.checkoutEntrega button{
    background-color: #9ACCFF;
    margin-top: 20px;
    width: 100%;
    text-align: left;
    border: none;
}

.checkoutEntrega img{
    margin: 10px ;
}

.imgCaminhao img{
    margin-top: 20px;
}

.checkoutPagamento{
    font-size: 15px;
}

.checkoutPagamento button{
    background-color: #9ACCFF;
    width: 100%;
    text-align: left;
    border: none;
    margin-top: 10px;

}

.checkoutPagamento button:hover, .checkoutEntrega button:hover{
    background-color: #9abdff;

}

.checkoutPagamento button:focus, .checkoutEntrega button:focus{
    background-color: #9abdff;
}



.btnFinalizarCompra button{
    background-color: #9CF38E;
    width: 100%;
    margin: 50px 0px 5px 15px;
    height: 40px;
    color: white;
    border-radius: 30px;
    font-size: 16px;
    border: none;
}



.btnFinalizarCompra button:hover {
    background-color: #79b870;
}



/* <!-- FINAL CHECKOUT-> */

@media (max-width: 820px) {

   .resumo{
       width: 91%;
   }
   
   .resumo3{
    width: 91%;
}

.resumo2{
    width: 91%;
}
    .check input{
        font-size: 11px;
    }


    .formPagamento{
        background-color: white;
        padding: 20px;
        margin: 20px 0px 10px 10px ;
    }

    .cartao img{
        width: 5%;
        
    }
    
    div.pix img{
        width: 15%;
        margin: 3px;
    }
    
    div.boleto img{
        width: 18%;
        margin: 4px;
    }

        
    .checkout {
        background-color: white;
        margin: 20px 0px 5px 10px ;
    }
    
    .chek h5{
        padding-top: 15px;
        text-align: center;
        font-size: 13px;
        color: rgba(0, 0, 0, 0.747);
    }
    
    .checkoutResumo{
        display: flex;
        font-size: 11px;
        line-height: 2;
    }

    
    .checkoutEntrega button{
        background-color: #9ACCFF;
        margin-top: 20px;
        width: 100%;
        text-align: left;
        border: none;
        font-size: 13px;
        text-align: center;
    }

    .entregaDescriao{
        font-size: 10px;
    }

    .entregaDescriao hr{
        margin: 0px 0px 10px 0px;
    }

    .checkoutPagamento button{
        background-color: #9ACCFF;
        width: 100%;
        text-align: left;
        border: none;
        margin-top: 10px;
        font-size: 13px;
        text-align: center;
    
    }

    .card{
        font-size: 9px;
        padding: 6px;
    }

    .btnFinalizarCompra button{
        font-size: 16px;
        margin: 20px 0px 20px 15px;
        height: 35px;
    }
}

@media (max-width: 768px){
.checkoutEntrega img {
   
    margin-left: 21%;
    margin-top: 0%;
    width: 25%;
}

  

img.paymentMethodImg{
    width: 30%;
    margin-left: 31%;
        }
}
@media (max-width: 765px) {
  
    .formPagamento, .checkout{  
        height: 100%;
    }


    .check input{
        font-size: 11px;
    }

    .cartao img{
        width: 11%;
        
    }

    div.pix img{
        width: 28%;
        margin-top: 2%;
    }

    div.boleto img{
        width: 32%;
        margin: 6px;
    }

    .cartFake{
        margin-left: 45px;
    }

    .addPagamento, .addPagamento button{
        font-size: 15px !important;
        margin-left: 0px;
    }

    .resumo, .resumo2, .resumo3{
        font-size: 13px;
        margin: 5px 0px 0px 0px;
    }

    .resumo2{
        font-size: 12px;
    }

    .imgCaminhao img{
        width: 51%;
        margin-left: 72%;
    
    }

    .entregaDescriao li{
        font-size: 12px;
        margin-top: 5px;
    }

    .checkoutPagamento li{
        font-size: 12px;
        margin-top: 5px;
    }

    .formEntrega form{
        border:none;
        padding:0;
    }
    .caixaIntEnd{
        border:none;
        padding:0;
    }
    .check{
      outline:  1px solid #ced4da;
      border-radius: 8px;
      padding-top: 12px;
      padding-bottom: 12px;
    }

    
}
@media (max-width: 500px) {
    .checkout img{
margin-left: 21%;
margin-top: 14%;
width: 66%;
}
div.resumo1 strong img{
    margin-left: 0;
     margin-top: 0; 
    width:6%;
}

}